extends layout

block content
  main
    div(class="messages-container")
      each message in messages
        div(class='message-container')
          div(class='message-content')
            span(class='user')= message.user + ":  "
            span(class='text')= message.text
          
          div(class='date-added')= message.added

    div(class="link-container")
      a(href='/new' class='new-message-link')= "Add a New Message"
  

  
