body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.new-message-link {
  color: #00B7FF;
}

.messages-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.message-container {
  display: flex;

}
